@page "/"

<div class="jumbotron">
    <h1 class="display-4">Event Sourced Counter</h1>
    <p class="lead">
        Event Sourcing
    </p>
    <hr class="my-4">
    <p>
        It uses utility classes for typography and spacing to space content out within the larger container.
    </p>
    <a class="btn btn-primary btn-lg" href="/counters" role="button">
        <span class="oi oi-timer" aria-hidden="true"></span> See All Counters
    </a>
</div>
