<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome to ESC!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Reprehenderit deserunt voluptas adipisci ratione qui aspernatur deserunt. Amet nam qui corporis enim optio. Vel
      eos placeat dicta quos consequatur.
    </p>
    <p>
      Impedit quisquam ea odio. Ipsa omnis est assumenda et aliquam quod. A id et maxime quaerat nemo. Incidunt dolorem
      voluptatibus totam accusantium quaerat dicta. Dolores neque repellat quia aut voluptatem nihil velit.
    </p>
    <p>
      Ipsam sed ipsum saepe molestias. In fugit ut tempora voluptatem consequatur architecto. Consequatur quis et eos
      rem
      sint.
    </p>
    <p>
      Quas et eligendi velit. Sed ut qui consequatur incidunt. Vitae minus unde quibusdam eum. Sed consectetur dolorem
      esse inventore rerum consectetur. Omnis totam consequuntur soluta eligendi.
    </p>
    <p>
      Eos dignissimos numquam officia consectetur a aut. Ducimus ipsa tempore modi ducimus. Explicabo ex quod voluptates
      adipisci. Et quis et doloremque commodi omnis officiis. Minus quasi aliquid officiis eaque nam id delectus
      voluptatem. Aut nostrum mollitia illo aut veniam voluptatem est
    </p>
  </mat-card-content>
</mat-card>
